body {
    margin-top: 150px;
    background-color: lightblue;
}
textarea {
    height: 295px;
}
.main-form {
    margin: 0 auto;
    max-width: 600px;
    padding: 10px 40px;
    background:#009edf;
    color: #FFF;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}
.options {
    color: black;
}